:root{
    /*colors*/
    --color-text: white;
    --color-primary: rgb(64, 100, 151);
    --color-secondary: rgba(241, 222, 211, 0.984);
    --color-dark: rgba(245, 138, 119, 0.984);
    --color-bg: rgba(224, 171, 159, 0.984);

    /*fonts */
    --font-palatino: "Palatino";
}
